body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    /* font-family: 'Roboto Condensed'; */
}

.reactive-60 {
  flex: 60%;
  max-width: 60%;
}

.reactive-40 {
  flex: 40%;
  max-width: 40%;
}

div {
    display: block;
}

#navbar {
    overflow: hidden;
    background-color: #ede2c2;
  }

.sticky {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
  }

#navbar a {
    float: right;
    display: block;
    color: #121211;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.background-image {
    background: url(./images/sunset.jpg); 
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.big-caption {
    text-align: center;
    color: white;   
    font-size: 700%;
}

.small-caption {
    text-align: center;
    color: white;   
    font-size: 200%;
  }


.main-content {
      background-color: #34515f;
  }


.section-header {
    text-align: center;
    color: white;   
    font-size: 400%;
  }

.about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 7%;
    gap: 20px;    
}

.about-me-image {
    /* height: 100%;
    width: 100%;
    object-fit: scale-down; */
    width: 20vw;
    height: auto;
    object-fit: cover;
    border-radius: 10%;
    margin: 30px;
}

.about-me-text {
    text-align: justify;
    color: white;   
    font-size: 150%;
}

.bar {
  margin-right: 5%;
  margin-left: 5%;
}

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 7%;
  gap: 20px;
  justify-content: space-between;
}

.img-flex {
  flex: 33%;
  max-width: 33%;
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.text-flex {
  flex: 67%;
  max-width: 67%;
  border: 2px solid white;
  border-radius: 15px;
}

.inner-text {
  padding: 25px;
}


.project-image {
  object-fit: cover;
  /* width: 20vw; */
  width: 100%;
  height: auto;
}

.project-caption {
  text-align: justify;
  color: white;   
  font-size: 250%;
}

.project-description {
  padding-top: 15px;
  text-align: left;
  color: white;   
  font-size: 150%;
}

@media (max-width: 900px) {
  .reactive-60, .reactive-40, .text-flex, .img-flex {flex: 100%; max-width: 100%;}
  .about-me, .project {flex-direction: column; flex-wrap: wrap;}
  /* .project-image, .about-me-image {height: 35vh; width: auto;} */
}